<h2><%= @user.name %></h2>
<ul>
  <li>
    <%= @user.email %>
  </li>
  <li>
    Other info
  </li>
</ul>

<% if current_user.is_friends_with?(@user) || current_user == @user %>
  <div class="">
    <p>
      <%= @user.name %> feed. you can see it cuz he/she is your friend! (or you!!)
    </p>
  </div>
<% elsif current_user.friendship_request_receivers.include?(@user) %>
  <div class="">
    <p>
      Friendship awaiting approval
    </p>
  </div>
<% elsif current_user.friendship_requesters.include?(@user) %>
  <div class="">
    <p>
      <%= @user.name %> wants to be your friend.
      <%= link_to 'Accept', friendships_path(
          friendship_request: FriendshipRequest.find_by(sender_id: @user.id, receiver_id: current_user.id),
          return_to: request.original_url),
        method: 'post' %>
      <%= link_to 'Reject', friendship_request_path(FriendshipRequest.find_by(sender_id: @user.id, receiver_id: current_user.id),
          return_to: request.original_url),
        method: 'delete' %>
    </p>
  </div>

<% else  %>
  <p>
    <%= link_to 'Send friendship request', friendship_requests_path(receiver_id: @user.id), method: 'post' %>
  </p>
<% end %>
