<h2>Post Page</h2>
<p>
  <%= @post.text %>
</p>

<% unless user_liked_post? %>
  <%= link_to 'Like', post_likes_path(@post), method: 'post' %>
<% else %>
  <%= link_to 'Unlike', like_path, method: 'delete' %>
<% end %>

<% if @post.author == current_user %>
  <%= link_to 'Delete Post', post_path(@post), method: 'delete' %>
<% end %>

<h3>Comments</h3>
<ul id="comments">
  <%= render @comments %>
</ul>

<%= render 'comments/comment_form' %>

<h3><%= @likes.count %> liked this Post:</h3>
<ul id="post_likes">
  <%= render @likes %>
</ul>
