<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <div class="container-fluid">

      <% if signed_in? %>
        <%= render 'shared/navbar' %>
      <% else %>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><%= image_tag("logo-280x40.png", alt: "Asgardbook Logo") %></a>
            </div>
          </div>
        </nav>
      <% end %>

      <section class="container-fluid" id="content">
          <%= yield %>
      </section>
    </div>
    <%= render 'shared/footer' %>
</body>

</html>
